.testimonials {
    padding: 20px;
    background-color: #f8f1e7;
  }
  
  .testimonial {
    margin-top: 20px;
    text-align: left;
  }
  
  .author {
    text-align: right;
    font-weight: bold;
  }
  